
body {
    background-color: #FAB1CA; 
}


h1 {
    font-family: 'Cinzel', serif; /* police prise sur google fonts */
    color: #810C34;
}


p { 
  color:#9F1156;
  font-family: 'Days One', sans-serif;
}


#randSentence {
    font-family: 'Days One', serif; /* police prise sur google fonts */
    color:#472A38;
    font-size: 22px;
    
}





